# ignored files
/plugins
/resources
/vendor
IntelliJ-workspace/target
*.log
IntelliJ-workspace/.idea/workspace.xml
IntelliJ-workspace/.idea/workspace.xml~Vi
IntelliJ-workspace/.idea/workspace.xml~Hieu